.App {
  text-align: center;
}

.App-header {
  background-color: white;
  max-height: 20vh;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #a7a9aa;

}

.form-inline {
  width: 100%;
  
}

.form-group {
  width: 90%;
  height: auto;
}
.btn {
  width: 18vh;
  height: 5vh;
  margin-top: 2vh;
  margin-right: 22vh;
  margin-left: 30vh;
  border: outset;
  align-content: right;
}


.filechooser {
  
  margin-left: 2vh;
}

.form-control {
  width: 50% !important;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: outset;
  border-left-style: none;
  font-size: calc(4px + 2vmin);
}
